/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins";
}
body{
  background: rgb(226, 226, 226);
}
body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 20px;
  height: 16px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 12px;
  height: 12px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}


nav{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  /* width: 280px; */
  background: #fff;
  overflow: hidden;
  transition: 1s;
}
nav:hover{
  width: 280px;
  transition: 1s;
}
.logo{
  text-align: left;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo img{
  width: 60%;
 
 
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
nav a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
nav a:hover{
  background: #eee;
}
nav a:hover i{
  color:orangered;
  transition: 0.5s;
}
.logout{
  position: absolute;
  bottom: 0;
}

.container{
  display: flex;
}

/* MAin Section */
.main{
  position: relative;
  padding: 20px;
  width: 100%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-top h1{
 color: #012970;
}
.main .users{
  display: flex;
  width: 100%;
}
.users .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -3px 6px 5px 0px rgba(176,164,176,1);
  transition: all .3s ease-in-out;
}
.users .card:hover{
  box-shadow: -3px 18px 20px 0px rgba(99,89,99,1);
}
.users .card img{
  width: 100%;
  height: 50%;
 
}
.users .card h4{
  text-transform: uppercase;
  color: #012970;
}
.users .card p{
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: orangered;
}
.users table{
  margin:  auto;
}
.users .per span{
  padding: 5px;
  border-radius: 10px;
  background: rgb(223, 223, 223);
}
.users td{
  font-size: 14px;
  padding-right: 15px;
}
.users .card button{
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #012970;
}
.users .card button:hover{
  background: #012970;
  color: #fff;
  transition: 0.5s;
}
.herosec{
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 15vw;
}
@media (max-width: 1113px) {
  .users .card{
    border-radius: 10px;
  }
  .users .card img{
    width: 100%;
    height: 40%;
   
  }
  .users .card h4{
    text-transform: uppercase;
    color: #012970;
  }
  .users .card p{
    font-size: 10px;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: orangered;
  }
  .users td{
    font-size: 12px;
    padding-right: 15px;
  }
  .users .card button{
    width: 100%;
    margin-top: 4px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #012970;
  }
  .users .card button:hover{
    background: #012970;
    color: #fff;
    transition: 0.5s;
  }
  .herosec{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 0vw;
  }
}
@media (max-width: 900px) {
  .herosec{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 0vw;
  }
  .main .users{
    position: relative;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .users .card{
    width: 55%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -3px 6px 5px 0px rgba(176,164,176,1);
    transition: all .3s ease-in-out;
  }
}
@media (max-width: 500px) {
  .users .card{
    width: 85%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -3px 6px 5px 0px rgba(176,164,176,1);
    transition: all .3s ease-in-out;
  }
  .logo img{
    width: 50%;
   
   
  }
}