{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Meet our team</title>
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
<link href="{% static 'aboutus.css' %}" rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<header class="yo" style="display: flex;background-color: white;width: 100%;padding: 8px;justify-content: space-between;">
    <a href="/" > <img style="width: 160px;margin-left: 15px;" src="{% static 'images/dbugger_logo.png' %}"
        alt="DBugger"></a>
        <ul class="nav no-search" style="display: flex; align-items: center; justify-content: space-between;gap: 10px; margin-right: 15px;">
            <li class="nav-item"><button style="background-color: orangered; border: none; padding: 10px; border-radius: 4px;padding-left: 17px;padding-right: 17px;"><a style="color: white;font-weight:600; text-decoration: none;" href="/">Home</a></button></li>
        </ul>
</header>
<section class="container">
  
    <div class="page-header">
        <h1 style="font-weight: 600;text-align: center;">Meet Our Team</h1>
    </div>
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Anurag Deo</span>
                    <strong>
                        Frontend Developer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{% static 'images/anurag.jpg' %}" >
                    </div>
                    <div class="mc-description">
                        ⭐⭐⭐@Codechef|Web Developer|HTML|CSS|JS|React Js|GitHub|Service Selection Board recommended candidate - Indian Navy|Leadership.
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Connect with me.
                    </h4>
                    <a class="fa fa-fw fa-github"  target="_blank"  href="https://github.com/Anurag-deo14"></a>
                    <a class="fa fa-fw fa-envelope" target="_blank"  href="mailto:anuragjee2020@gmail.com"></a>
                    <a class="fa fa-fw fa-linkedin" target="_blank"  href="https://www.linkedin.com/in/anurag-deo-03410a229/"></a>
                    <a class="fa fa-fw fa-instagram" target="_blank"  href="https://www.instagram.com/anuragdeo5/"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Piyush Kumar</span>
                    <strong>
                        Backend Developer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{% static 'images/piyush.jpg' %}">
                    </div>
                    <div class="mc-description">
                        3*@Codechef | Pupil @ Codeforces | A programmer by passion | NIT-RR'25
                        Talks about #coding, #youtube, #programming, and #competitiveprogramming
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Connect with me.
                    </h4>
                    <a class="fa fa-fw fa-github" target="_blank"  href="https://github.com/Piyush-onGIT"></a>
                    <a class="fa fa-fw fa-envelope" target="_blank"  href="mailto:piyush.at.googl@gmail.com"></a>
                    <a class="fa fa-fw fa-linkedin" target="_blank"  href="https://www.linkedin.com/in/piyush-in/"></a>
                    <a class="fa fa-fw fa-instagram" target="_blank"  href="https://www.instagram.com/sahu_piyush_/"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Aniket Kumar</span>
                    <strong>
                        Frontend Developer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{% static 'images/aniket.jpeg' %}">
                    </div>
                    <div class="mc-description">
                        Sophomore @ NIT Raipur || ECE || Technical Executive @ Turing Club Of Programmers & Technocracy || React & Django
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Connect with me.
                    </h4>
                    <a class="fa fa-fw fa-github" target="_blank"  href="http://www.github.com/Kraniket901/"></a>
                    <a class="fa fa-fw fa-envelope" target="_blank"  href="mailto:kraniket123654@gmail.com"></a>
                    <a class="fa fa-fw fa-linkedin" target="_blank"  href="https://www.linkedin.com/in/kraniket901/"></a>
                    <a class="fa fa-fw fa-instagram" target="_blank"  target="_blank"  href="https://www.instagram.com/kraniket901/"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Viraj Chandra</span>
                    <strong>
                        Frontend Developer
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{% static 'images/viraj.jpeg' %}">
                    </div>
                    <div class="mc-description">
                        IT Undergrad @NIT Raipur '25 | 5* (2010) @CodeChef | Specialist @Codeforces
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>

                </a>
                <div class="mc-footer">
                    <h4>
                        Connect with me.
                    </h4>
                    <a class="fa fa-fw fa-github" target="_blank"  href="http://www.github.com/virajchandra51/"></a>
                    <a class="fa fa-fw fa-envelope"target="_blank"  href="mailto:virajchandra51@gmail.com"></a>
                    <a class="fa fa-fw fa-linkedin" target="_blank"  href="https://www.linkedin.com/in/viraj-chandra-4073a8223/"></a>
                    <a class="fa fa-fw fa-instagram" target="_blank"  href="https://www.instagram.com/me_ayan_710/"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Prince Tripathi</span>
                    <strong>
                        Educator
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{% static 'images/prince.jpg' %}">
                    </div>
                    <div class="mc-description">
                        I am particularly interested in the programming, web development, developing software and working in a team at the company. I am eager to contribute my skills and learn from the talented professionals at the company.
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>

                </a>
                <div class="mc-footer">
                    <h4>
                        Connect with me.
                    </h4>
                    <a class="fa fa-fw fa-envelope" target="_blank"  href="mailto:princetripathi093@gmail.com"></a>
                    <a class="fa fa-fw fa-linkedin" target="_blank"  href="https://www.linkedin.com/in/prince-tripathi-96920b224/"></a>
                    <a class="fa fa-fw fa-instagram" target="_blank"  href="https://www.instagram.com/princetripathie07/"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Uday Sharma</span>
                    <strong>
                        Educator
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{% static 'images/uday.jpg' %}">
                    </div>
                    <div class="mc-description">
                        4⭐️(1813) @Codechef | Specialist(1457) @Codeforces
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Connect with me.
                    </h4>
                    <a class="fa fa-fw fa-envelope" target="_blank"  href="mailto:kraniket123654@gmail.com"></a>
                    <a class="fa fa-fw fa-linkedin"target="_blank" href="https://www.linkedin.com/in/uday-sharma-71a9a4231/"></a>
                    <a class="fa fa-fw fa-instagram"target="_blank"  href="https://www.instagram.com/sharma_uday__/" ></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Pranjal Naman</span>
                    <strong>
                        Educator
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{% static 'images/pranjal.jpg' %}">
                    </div>
                    <div class="mc-description">
                        An individual with a keen interest in Software programs, possessing good interpersonal and analytical skills, who wish to use technical knowledge catering to the needs of the company
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Connect with me.
                    </h4>
                    <a class="fa fa-fw fa-envelope" target="_blank"  href="mailto:kraniket123654@gmail.com"></a>
                    <a class="fa fa-fw fa-linkedin"target="_blank" href="https://www.linkedin.com/in/pranjal-naman-139a06229/"></a>
                    <a class="fa fa-fw fa-instagram"target="_blank"  href="https://www.instagram.com/optislug/"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Red">
                <h2>
                    <span>Saransh Sharma</span>
                    <strong>
                        Educator
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="{% static 'images/saransh.jpeg' %}">
                    </div>
                    <div class="mc-description">
                        Student at National Institute of Technology Raipur. Competitive Programmer and Tech enthusiast trying to convert ideas and dreams into reality.
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Connect with me.
                    </h4>
                    <a class="fa fa-fw fa-envelope" target="_blank"  href="mailto:kraniket123654@gmail.com"></a>
                    <a class="fa fa-fw fa-linkedin" target="_blank"  href="https://www.linkedin.com/in/saransh-sharma-697857240/"></a>
                    <a class="fa fa-fw fa-instagram"target="_blank"  href="https://www.instagram.com/_.saransh.__/"></a>
                </div>
            </article>
        </div>
        
    </div>
</section>

<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="{% static 'aboutus.js' %}"></script>


</body>
</html>
