{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>You are now logged in</title>
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'afterLog.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
	<div class="page-wrapper">
		<div class="nav-wrapper">
			<div class="grad-bar"></div>
			<nav class="navbar">
				<a href="/logout"><img src="{% static 'images/dbugger_logo.png' %}" alt="DBugger"></a>
				<div class="menu-toggle" id="mobile-menu">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<ul class="nav no-search">
					<li class="nav-item"><a href="#"></a></li>
					<li class="nav-item"><a href="#"></a></li>
					<li class="nav-item"><a href="#"></a></li>
					<li class="nav-item"><a href="#"></a></li>
					<li class="nav-item"><a href="/logout">Log Out</a></li>
				</ul>
			</nav>
		</div>
		<div class="header">
			
     <svg viewBox="0 10 1320 350">
	<text x="50%" y="50%" dy=".35em" text-anchor="middle">
		My Courses
	</text>
       </svg>
		</div>
		<section class="features">
			{% for number, name, image in data %}
			<div class="feature-container">
				<img src="{{image}}" alt="Flexbox Feature">
				<h2><b>{{name}}</b></h2>
				<p>Description</p>
				<a href="courses/{{number}}">
					<button class="mybtn">View</button>
				</a>
			</div>
			{% endfor %}
		</section>
	</div>
	<script src="{% static 'afterlog.js' %}"></script>
</body>

</html>