{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Course Page</title>
	<link rel="stylesheet" href="{% static 'lectures.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
	<div class="page-wrapper">
		<div class="nav-wrapper">
			<div class="grad-bar"></div>
			<nav class="navbar">
				<a href="/"> <img src="{% static 'images/dbugger_logo.png' %}" alt="DBugger"></a>
				<div class="menu-toggle" id="mobile-menu">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<ul class="nav no-search">
					<li class="nav-item"><button><a href="/">My Courses</a></button></li>
					<li class="nav-item"><button><a href="/logout">Log Out</a></button></li>
				</ul>
			</nav>
		</div>
		<div class="head-cnt">
			<h3></h3>
		</div>
	</div>
	<div id="playlist">

			<div id="video-dis">
				<iframe id="display-frame" src="" title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen wmode="transparent"></iframe>
			</div>
		<div id="v-list" class="video-li">

			<div id="vli-info">
				<div id="upper-info">
					<div id="li-titles">
						<div class="title">{{name}}</div>
						<div class="sub-title">
							<a href="https://drive.google.com/file/d/1HUIy5dHYfVOGue-IG39B_tgTAU63HiRz/preview"
								class="channel">Piyush Kumar</a>
							<span id="video-count">1 / 2</span>
						</div>
					</div>
					<div id="drop-icon"></div>
				</div>
				<div id="lower-info">
					<!-- <div id="btn-repeat"></div>
					<div id="btn-suffle"></div>
					<div id="btn-save"></div> -->
				</div>
			</div>

			<div id="vli-videos">
				{% for number, link, thumb in data %}
				<div class="video-con active-con" video="{{link}}">
					<div class="index title">0</div>
					<div class="thumb">
						<img style="height: 100%;" src="{{thumb}}" alt="">
					  </div>
					<div class="v-titles">
						<div class="title">Lecture {{number}} </div>
						<!-- <div class="sub-title">
							<a href="https://www.youtube.com/channel/UCD7RHHe-SuFiTWEsC0S1dLg" class="channel" target="_blank">Piyush Kumar</a>
						</div> -->
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
	<script src="{% static 'lectures.js' %}"></script>
</body>

</html>