{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dbugger</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="{% static 'afterLog.css' %}" rel="stylesheet">
    <link href="{% static 'quiz.css' %}" rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
            <li>
                <div class="logo">
                    <a href="/">
                        <img style="height: 70px;margin-bottom: 10px; margin-top: 8px"
                            src="{% static 'images/dbugger_logo.png' %}">
                    </a>
                </div>
            </li>
            <li>
                <a class="profile" style="margin-top: 50px;padding-bottom: 25px;" href="#">
                    <i class="fas fa-user"></i>
                    <span class="nav-item">Hey, {{fname}}</span>
                </a>
            </li>
            <li>
                <a href="/" style="padding-bottom: 25px;">
                    <i class="fas fa-desktop"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/quizzes" style="padding-bottom: 25px;">
                    <i class="	fas fa-file"></i>
                    <span class="nav-item">Quizzes</span>
                </a>
            </li>
            <li>
                <a href="mailto:dbuggerhelp@gmail.com" target="_blank" style="padding-bottom: 25px;">
                    <i class="fas fa-envelope"></i>
                    <span class="nav-item">Mail Us</span>
                </a>
            </li>
            <li>
                <a href="/logout" class="logout" style="padding-bottom: 25px;">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Log out</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="hero-quiz">
        <h1>Quizzes</h1>
        <div class="links">
            
            <!-- <iframe
                src=
                width="640" height="1936" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
            <ul>
                {% for name, link in data %}
                    <li><a target="_blank" style="text-decoration: none;" href="{{link}}">{{name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>