{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'signup.css' %}">
  <link rel="stylesheet" href="{% static 'signupstyle.css' %}">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <title>Sign Up</title>
</head>

<body>
  {% if messages %} {% for msg in messages %}
  <script>
    console.log("{{msg}}");
    if ("{{msg}}" == 1) {
      swal({
        "title": "Alert",
        "text": "Username already exists",
        "icon": "warning",
        "button": "Go Back"
      }).then(() => {
        history.back();
      });
    }
    else if ("{{msg}}" == 2) {
      swal({
        "title": "Alert",
        "text": "Password doesn't match",
        "icon": "warning",
        "button": "Go Back"
      }).then(() => {
        history.back();
      });
    }
    else if ("{{msg}}" == 3) {
      swal({
        "title": "Alert",
        "text": "Email-id already exists",
        "icon": "warning",
        "button": "Go Back"
      }).then(() => {
        history.back();
      });
    }
    else if ("{{msg}}" == 7) {
      swal({
        "title": "Alert",
        "text": "Username must not contain spaces",
        "icon": "warning",
        "button": "Go Back"
      }).then(() => {
        history.back();
      });
    }
  </script>
  {% endfor %} {% endif %}

  <div class="main-container">
    <div class="left-section">
      <div class="left-section-logo1">
        <a href="/">
          <img src="{% static 'images/logo1.png' %}" alt="">
        </a>
      </div>
      <div class="left-section-logo2">
        <a href="/">
          <img src="{% static 'images/logo1.png' %}" alt="">
        </a>
      </div>
    </div>
    <div class="middle-section">
      <h1 data-heading="SIGN UP">SIGN UP</h1>
    </div>
    <div class="right-section">
      <div class="form">
        <div class="sign-up">
          <h1>Sign <span style="color:#F36527">Up</span></h1>
        </div>
        <form action="signup" class="form__content" method="POST">
          {% csrf_token %}
          <div class="name">
            <div class="form__box-name">
              <input required type="text" class="form__input" placeholder="First Name" name="fname">
              <label for="" class="form__label">FIRST NAME</label>
              <div class="form__shadow"></div>
            </div>
            <div class="form__box-name">
              <input required type="text" class="form__input" placeholder="Last Name" name="lname">
              <label for="" class="form__label">LAST NAME</label>
              <div class="form__shadow"></div>
            </div>
          </div>
          <div class="form__box">
            <input required type="text" class="form__input" placeholder="Username" name="usnm">
            <label for="" class="form__label">ENTER USERNAME</label>
            <div class="form__shadow"></div>
          </div>
          <div class="form__box">
            <input required type="text" class="form__input" placeholder="Email" name="email">
            <label for="" class="form__label">ENTER EMAIL</label>
            <div class="form__shadow"></div>
          </div>
          <div class="form__box">
            <input required type="password" class="form__input" placeholder="Password" name="passd">
            <label for="" class="form__label">ENTER PASSWORD</label>
            <div class="form__shadow"></div>
          </div>
          <div class="form__box">
            <input required type="password" class="form__input" placeholder="Confirm Password" name="re-passd">
            <label for="" class="form__label">CONFIRM PASSWORD</label>
            <div class="form__shadow"></div>
          </div>
          <div class="sign-up-section">
            <div class="already-member">
              <p>Already A Member? <a href="/log">Log In</a></p>
            </div>
            <div class="form__button">
              <input type="Submit" class="form__submit" value="Sign Up">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="module" src="{% static 'main.js' %}"></script>
</body>

</html>