@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: #dfe9f5;
  color: #012970;
}

body.dark {
  background-color: #292c35;
}

/*main*/
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.nav-container {
  width: 20%;
  height: 100%;
}

.courses-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

/* NAVBAR */

.side-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 15%;
  background: #fff;
  overflow: hidden;
  transition: 1s;
}

.logo {
  width: 100%;
  flex-basis: calc(100% / 8);
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  padding: 20px;
}

.side-nav-options {
  width: 100%;
  flex-basis: calc(100% * 6 / 8);
}

.log-out {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-nav ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-top {
  margin-left: 10px;
  margin-top: 30px;
}

ul a {
  position: relative;
  width: 100%;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
  font-family: "Poppins";
  margin: 20px 0px;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
}

nav .fas {
  position: relative;
  font-size: 20px;
  width: 30%;
  text-align: center;
  margin-left: 10px;
}

.nav-item {
  position: relative;
}

nav a:hover {
  background: #eee;
  color: orangered;
  transition: 0.5s ease-in-out;

}

nav a:hover i {
  color: orangered;
  transition: 0.5s ease-in-out;
}

.logout {
  position: relative;
}

.log-out ul {
  list-style: none;
  width: 100%;
}

/* HEROSEC */

.main {
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: #012970;
  margin-top: 30px;
}

.users {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 20px 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -3px 6px 5px 0px rgba(176, 164, 176, 1);

  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: -3px 18px 20px 0px rgba(99, 89, 99, 1);
  transform: scale(1.01);
}

.card img {
  width: 100%;
  height: 60%;
}

.users .card h4 {
  text-transform: uppercase;
  color: #012970;
}

.card button {
  width: 80%;
  margin-top: 10px;
  padding: 7px;
  cursor: pointer;
  background: orangered;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
}

.users .card button:hover {
  background: rgba(255, 68, 0, 0.911);
  color: #fff;
  transition: 0.5s;
}
@media (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
  .card h3 {
    font-size: 12px;
  }
  .card button {
    font-size: 10px;
    padding: 4px;
  }
}
/*course box */
.main-course {
  margin-top: 20px;
  margin-bottom: 50px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.course-box {
  width: 90%;
  padding: 10px;
  margin: 20px 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.main-course h1{
  margin-left: 10px;
}

.course-box .course {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.box {
  width: 25%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  box-shadow: -3px 6px 5px 0px rgba(176, 164, 176, 1);

  transition: all 0.3s ease-in-out;
}
.box:hover {
  box-shadow: -3px 18px 20px 0px rgba(99, 89, 99, 1);
}
.box p {
  font-size: 12px;
  margin-top: 5px;
}
.box button {
  background: orangered;
  color: white;
  padding: 7px 10px;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 10px;

}
.box button:hover {
  background: rgba(255, 68, 0, 0.911);
}

.box img {
  width: 100%;
}
@media (max-width: 1000px) {
  .course-box .course {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    flex-direction: column;
  }
  .card h3 {
    font-size: 10px;
  }
  .course-box {
    width: 80%;
  }
  .box {
    width: 55%;
  }
}
@media (max-width: 500px) {
  .box {
    width: 95%;
  }
  .main-course {
    align-items: center;
  }
}
