@import "compass/css3";

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url(https://fonts.googleapis.com/css?family=Pacifico);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Quicksand', sans-serif;
  }
  
  /* HEADINGS */
  
  h1, p {
    color: #fff;
    text-align: center;
    line-height: 1.4;
  }
  
  h1 {
    font-size: 2.2rem;
  }
  
  h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  /* BASIC SETUP */
  
  .page-wrapper {
    width: 100%;
    
  }
  
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
 
  .navbar {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: center;
    z-index: 2;
    height: 50px;
    font-weight: 900;
    position: relative;
    overflow: hidden;
    box-shadow: -3px 3px 5px 0px #535353b7;
  }
  
  .navbar img {
    height: 46px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  
  .navbar ul {
    list-style: none;
    display:flex;
    margin-right: 8px;
    justify-self: end;
  }
  .nav-item button{
    padding: 15px;
    background-color: #fff;
    border: none;
  }
  
  .nav-item a {
    font-size: 16px;
    font-weight: 700;
    color:#012970;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: orangered;
  }
  
  /* SECTIONS */
  
  .headline {
    width: 100%;
    
    min-height: 100px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1562813733-b31f71025d54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
  }
  
  .headline p{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
  }
 
  
  .features {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    display: flex;
    padding: 50px 20px;
    justify-content: space-around;
    z-index: 0;
  }
  
  .feature-container {
    flex-basis: 30%;
    margin-top: 10px;
    
  }
  body{
    background-color:#F5F5F5;
  }
  
  .feature-container p {
    color: #000;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  
  .feature-container img {
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* SEARCH FUNCTION */
  
  #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
  }
  
  #search-icon:hover {
    color: #3498db;
    cursor: pointer;
  }
  
  .search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
  }
  
  .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
  }
  
  .search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
  }
  
  .search-active {
    opacity: 1;
    z-index: 0;
  }
  
  input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; /* FOR SAFARI */
    outline: 0;
    padding: 5px;
  }
  
  /* MOBILE MENU & ANIMATION */
  
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 720px) { 
    .features {
      flex-direction: column;
      padding: 50px;
    }
    
    /* MOBILE HEADINGS */
    
    h1 {
      font-size: 1.9rem;
    }
    
    h2 {
      font-size: 1rem;
    }
    
    p {
      font-size: 0.8rem;
    }
    
    /* MOBILE NAVIGATION */
       
    .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 55px;
      background-color: #fff;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
      z-index: 1;
  
      
    }
    
    .navbar li {
      padding: 12px;
      margin-left: 50%;
    }
    
    .navbar li:first-child {
      margin-top: 0px;
    }
    
    .navbar li a {
      font-size: 1rem;
    }
     
    .menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(-60%)!important;
  }
    
    /* SECTIONS */
    
    .headline {
      height: 20vh;
    }
      
    .feature-container p {
      margin-bottom: 25px;
    }
    
    .feature-container {
      margin-top: 20px;
    }
    
    .feature-container:nth-child(2) {
      order: -1;
    }
    
    /* SEARCH DISABLED ON MOBILE */
    
    #search-icon {
      display: none;
    }
    
    .search-input {
    display: none;
   }
    
  }
  .head-cnt h3{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    
  }


 /*lectures section*/
  :root {
  --primary: #fbfcfc;
  --active: #f1f1f1;
  --secondary: #767777;
  --grey: #8a8b8b;
  --b-pad: 10px;
  --s-pad: 5px;
  --bg: rgb(50, 50, 50);
}
a.channel {
  color: inherit;
  text-decoration: none;
}
a.channel:hover {
  text-decoration: underline;
}

.title {
  color: var(--secondary);
  font-size: 15px;
  font-weight: bold;
}
.sub-title {
  color: var(--grey);
  font-size: 13px;
}
.icon-active {
  filter: sepia(100%) hue-rotate(150deg) saturate(400%);
}
#playlist{
  display: flex;
  justify-content: center;
  background-color:#F5F5F5;
  
} 
/* #playlist {
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 60vh;
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all ease 0.3s;
  z-index: 0;
} */

#video-dis {
  width: 60%;
  height: 75vh;
  margin-right: 20px;
  background: black;
}
#video-dis iframe {
  width: 100%;
  height: 100%;
}
.video-li {
  padding: var(--b-pad);
  border-radius: 3px;
  background: var(--primary);
}
 .li-collapsed {
  overflow: hidden;
  height: 70px;
}

#vli-info {
  flex: 3;
  padding: 0 var(--b-pad) 0 var(--b-pad);
  width: 20vw;
} 

#upper-info {
  display: flex;
  
}

#li-titles {
  flex: 9;
}

#li-titles div {
  padding-bottom: 5px;
}

#drop-icon {
  flex: 1;
  cursor: pointer;
  background: url(https://user-images.githubusercontent.com/50569315/118832584-92350500-b8e2-11eb-8398-9a90a4615b98.png)
    no-repeat center;
  background-size: 50%;
  
} 

#lower-info {
  display: flex;
  padding-top: var(--b-pad);
}
#lower-info div {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
/* #btn-repeat {
  margin-right: var(--b-pad);
  background: url(https://user-images.githubusercontent.com/50569315/118832591-93663200-b8e2-11eb-8b98-3b177304b555.png)
    no-repeat left;
  background-size: 50%;
} */
/* #btn-suffle {
  margin-right: var(--b-pad);
  background: url(https://user-images.githubusercontent.com/50569315/118832597-93fec880-b8e2-11eb-9146-f978064eddb1.png)
    no-repeat left;
  background-size: 45%;
} */
/* #btn-save {
  margin-left: auto;
  order: 2;
  right: 10px;
  margin-right: var(--b-pad);
  background: url(https://user-images.githubusercontent.com/50569315/118832594-93fec880-b8e2-11eb-8201-12cb52be231f.png)
    no-repeat right;
  background-size: 60%;
} */

/* #vli-videos {
  flex: 7;
  overflow: auto;
}*/

.video-con {
  display: flex;
  cursor: pointer;
  padding: var(--s-pad);
  column-gap: var(--s-pad);
  margin-bottom: var(--b-pad);
}
.video-con:hover,
.active-con {
  background: var(--active);
}
.index {
  min-width: 15px;
  align-self: center;
}
.thumb {
  width: 100px;
  height: 60px;
  background: var(--secondary);
}
.thumb img {
  width: 100%;
}
.v-titles {
  flex: 6;
}
.v-titles div:nth-child(2) {
  margin-top: var(--s-pad);
} 
/* @media only screen and (max-width: 1150px) {
  #playlist {
    width: 95vw;
    height: 60vh;
  }
} */
@media only screen and (max-width: 1012px) {
  #vli-info {
    padding: 0px;
    height: 80px;
    width: 250px;
    
    }
}
 @media only screen and (max-width: 950px) {
  #playlist{
    display: flex;
    justify-content: center;
    flex-direction: column;
  } 
  #video-dis {
    width: 70%;
    height: 65vh;
    margin-right: 20px;
    background: black;
    display: flex;
    margin-left: 15%;
    justify-content: center;
  }
  .video-li{
    width:70% ;
    margin-left: 15%;
  }
  #drop-icon {
    flex: 1;
    cursor: pointer;
    background: url(https://user-images.githubusercontent.com/50569315/118832584-92350500-b8e2-11eb-8398-9a90a4615b98.png)
      no-repeat center;
    background-size: 100%;
  } 
  #vli-info {
    padding: 0px;
    height: 80px;
    width: 250px;
    
    }
} 
 @media only screen and (max-width: 800px) {
  #video-dis {
    width: 70%;
    height: 55vh;
    margin-right: 20px;
    background: black;
    display: flex;
    margin-left: 15%;
    justify-content: center;
  }
  .video-li{
    width:70% ;
    margin-left: 15%;
  }
  #vli-info {
    padding: 0px;
    height: 80px;
    width: 250px;
    
    }
} 
 @media only screen and (max-width: 650px) {
  #video-dis {
    width: 70%;
    height: 45vh;
    margin-right: 20px;
    background: black;
    display: flex;
    margin-left: 15%;
    justify-content: center;
  }
  .video-li{
    width:70% ;
    margin-left: 15%;
  }
} 
@media only screen and (max-width: 400px) {
  #video-dis {
    width: 90%;
    height: 30vh;
    margin-right: 20px;
    background: black;
    display: flex;
    margin-left: 5%;
    justify-content: center;
  }
  .video-li{
    width:90% ;
    margin-left: 5%;
  }
  #vli-info {
    padding: 0px;
    height: 80px;
    width: 250px;
    
    }
}