@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");

:root{
  --color1: #F36527;
  --color2: rgba(255,255,255,0.9);
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--color2);
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
	height: 100%;
}

.main-container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.left-section{
  width: 35%;
  height: 100vh;
  background-color: var(--color1);
}

.left-section-logo1 img{
  width: 500px;
  height: auto;
  opacity: 0.25;
  transform: translate(10%,80%);
}
.left-section-logo2 img{
  width: 500px;
  height: auto;
  opacity: 0.25;
  transform: translate(-30%,-150%);
}


.right-section{
  background-color: var(--color2);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.middle-section h1{
	white-space: nowrap;
	color: var(--color2);
}
.middle-section h1::before {
	content: attr(data-heading);
	position: absolute;
	left: 0;
	color: var(--color1);
	width: 50%;
	overflow: hidden;

}

.middle-section h1 {
	font-size: 10vw;
	top: 50%;
	left: 40%;
	margin: 0;
  z-index: 100;
	transform: translate(-93.5%, -50%) rotate(180deg);
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	writing-mode: vertical-lr;
}

@media screen and (max-width: 750px) {
  .left-section{
    display: none;
  }
  .middle-section{
    display: none;
  }
}

@media  screen and (min-width: 1430px){
  .left-section {
    width: 54%;
  }
}

