.hero-quiz {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.hero-quiz h1{
    margin-top: 40px;
    margin-bottom: 60px;
  
}
.links{
    background:white;
    padding: 30px;
    border-radius: 30px;

}
.link-col{
    display: flex;
   gap: 100px;

}
.links a{
    color: black;
}
@media(max-width:1000px){
    .hero-quiz {
        margin-left: 88px;
        width: calc(100% - 88px);
    }
    .link-col{
        display: flex;
       flex-direction: column;
       gap: 40px;
    }
  
}
@media(max-width:440px){
    .links{
        width: 80%;
        padding: 12px;
    }
    .links a{
        font-size: 12px;
    }
    .links li{
        list-style: none;
    }
  
}
@media(max-width:440px){
    .links{
        width: 80%;
        padding: 6px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .links a{
        font-size: 12px;
    }
  
}